<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("_Head.cshtml")
    @RenderSection("css", required: false)
</head>
<body>
    @await Html.PartialAsync("_Header.cshtml")
    @RenderBody()
    @await Html.PartialAsync("_Footer.cshtml")
    @await Html.PartialAsync("_Foot.cshtml")
    @RenderSection("Scripts", required: false)
</body>
</html>