<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>shop</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">home</a></li>
                    <li class="breadcrumb-item active">shop</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="shop-box-inner">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                <div class="product-categori">
                    <div class="search-product">
                        <form action="#">
                            <input class="form-control" placeholder="search here..." type="text">
                            <button type="submit"> <i class="fa fa-search"></i> </button>
                        </form>
                    </div>
                    <div class="filter-sidebar-left">
                        <div class="title-left">
                            <h3>categories</h3>
                        </div>
                        <div class="list-group list-group-collapse list-group-sm list-group-tree" id="list-group-men" data-children=".sub-men">
                            <div class="list-group-collapse sub-men">
                                <a class="list-group-item list-group-item-action" href="#sub-men1" data-toggle="collapse" aria-expanded="true" aria-controls="sub-men1">
                                    clothing <small class="text-muted">(100)</small>
                                </a>
                                <div class="collapse show" id="sub-men1" data-parent="#list-group-men">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item list-group-item-action active">t-shirts <small class="text-muted">(50)</small></a>
                                        <a href="#" class="list-group-item list-group-item-action">polo t-shirts <small class="text-muted">(10)</small></a>
                                        <a href="#" class="list-group-item list-group-item-action">round neck t-shirts <small class="text-muted">(10)</small></a>
                                        <a href="#" class="list-group-item list-group-item-action">v neck t-shirts <small class="text-muted">(10)</small></a>
                                        <a href="#" class="list-group-item list-group-item-action">hooded t-shirts <small class="text-muted">(20)</small></a>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group-collapse sub-men">
                                <a class="list-group-item list-group-item-action" href="#sub-men2" data-toggle="collapse" aria-expanded="false" aria-controls="sub-men2">
                                    footwear
                                    <small class="text-muted">(50)</small>
                                </a>
                                <div class="collapse" id="sub-men2" data-parent="#list-group-men">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item list-group-item-action">sports shoes <small class="text-muted">(10)</small></a>
                                        <a href="#" class="list-group-item list-group-item-action">sneakers <small class="text-muted">(20)</small></a>
                                        <a href="#" class="list-group-item list-group-item-action">formal shoes <small class="text-muted">(20)</small></a>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="list-group-item list-group-item-action"> men  <small class="text-muted">(150) </small></a>
                            <a href="#" class="list-group-item list-group-item-action">accessories <small class="text-muted">(11)</small></a>
                            <a href="#" class="list-group-item list-group-item-action">bags <small class="text-muted">(22)</small></a>
                        </div>
                    </div>
                    <div class="filter-price-left">
                        <div class="title-left">
                            <h3>price</h3>
                        </div>
                        <div class="price-box-slider">
                            <div id="slider-range"></div>
                            <p>
                                <input type="text" id="amount" readonly style="border:0; color:#fbb714; font-weight:bold;">
                                <button class="btn hvr-hover" type="submit">filter</button>
                            </p>
                        </div>
                    </div>
                    <div class="filter-brand-left">
                        <div class="title-left">
                            <h3>brand</h3>
                        </div>
                        <div class="brand-box">
                            <ul>
                                <li>
                                    <div class="radio radio-danger">
                                        <input name="survey" id="radios1" value="yes" type="radio">
                                        <label for="radios1"> supreme </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="radio radio-danger">
                                        <input name="survey" id="radios2" value="no" type="radio">
                                        <label for="radios2"> a bathing ape </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="radio radio-danger">
                                        <input name="survey" id="radios3" value="declater" type="radio">
                                        <label for="radios3"> the hundreds </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="radio radio-danger">
                                        <input name="survey" id="radios4" value="declater" type="radio">
                                        <label for="radios4"> alife </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="radio radio-danger">
                                        <input name="survey" id="radios5" value="declater" type="radio">
                                        <label for="radios5"> neighborhood </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="radio radio-danger">
                                        <input name="survey" id="radios6" value="declater" type="radio">
                                        <label for="radios6"> clot </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="radio radio-danger">
                                        <input name="survey" id="radios7" value="declater" type="radio">
                                        <label for="radios7"> acapulco gold </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="radio radio-danger">
                                        <input name="survey" id="radios8" value="declater" type="radio">
                                        <label for="radios8"> undftd </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="radio radio-danger">
                                        <input name="survey" id="radios9" value="declater" type="radio">
                                        <label for="radios9"> mighty healthy </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="radio radio-danger">
                                        <input name="survey" id="radios10" value="declater" type="radio">
                                        <label for="radios10"> fiberops </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                <div class="right-product-box">
                    <div class="product-item-filter row">
                        <div class="col-12 col-sm-8 text-center text-sm-left">
                            <div class="toolbar-sorter-right">
                                <span>sort by </span>
                                <select id="basic" class="selectpicker show-tick form-control" data-placeholder="$ usd">
                                    <option data-display="select">nothing</option>
                                    <option value="1">popularity</option>
                                    <option value="2">high price → high price</option>
                                    <option value="3">low price → high price</option>
                                    <option value="4">best selling</option>
                                </select>
                            </div>
                            <p>showing all 4 results</p>
                        </div>
                        <div class="col-12 col-sm-4 text-center text-sm-right">
                            <ul class="nav nav-tabs ml-auto">
                                <li>
                                    <a class="nav-link active" href="#grid-view" data-toggle="tab"> <i class="fa fa-th"></i> </a>
                                </li>
                                <li>
                                    <a class="nav-link" href="#list-view" data-toggle="tab"> <i class="fa fa-list-ul"></i> </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="row product-categorie-box">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                <div class="row">
                                    @foreach (var item in ViewBag.ListSP)
                                    {
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <div class="type-lb">
                                                        <p class="sale">sale</p>
                                                    </div>
                                                    <img src="~/pro/@item.HinhAnh" class="img-fluid" alt="image">
                                                    <div class="mask-icon">
                                                        <ul>
                                                            <li><a data-toggle="tooltip" data-placement="right" title="view" asp-action="Chitietsanpham" asp-controller="Home" asp-route-id="@item.MaSanPham"><i class="fas fa-eye"></i></a></li>
                                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="compare"><i class="fas fa-sync-alt"></i></a></li>
                                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="add to wishlist"><i class="far fa-heart"></i></a></li>
                                                        </ul>
                                                        <a class="cart" href="#">add to cart</a>
                                                    </div>
                                                </div>
                                                <div class="why-text">
                                                    <h4>@item.TenSanPham</h4>
                                                    <h5> @item.Gia</h5>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="list-view">
                                    <div class="list-view-box">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                <div class="products-single fix">
                                                    <div class="box-img-hover">
                                                        <div class="type-lb">
                                                            <p class="new">new</p>
                                                        </div>
                                                        <img src="images/img-pro-01.jpg" class="img-fluid" alt="image">
                                                        <div class="mask-icon">
                                                            <ul>
                                                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="view"><i class="fas fa-eye"></i></a></li>
                                                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="compare"><i class="fas fa-sync-alt"></i></a></li>
                                                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="add to wishlist"><i class="far fa-heart"></i></a></li>
                                                            </ul>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                                <div class="why-text full-width">
                                                    <h4>lorem ipsum dolor sit amet</h4>
                                                    <h5> <del>$ 60.00</del> $40.79</h5>
                                                    <p>
                                                        integer tincidunt aliquet nibh vitae dictum. in turpis sapien, imperdiet quis magna nec, iaculis ultrices ante. integer vitae suscipit nisi. morbi dignissim risus sit amet orci porta, eget aliquam purus
                                                        sollicitudin. cras eu metus felis. sed arcu arcu, sagittis in blandit eu, imperdiet sit amet eros. donec accumsan nisi purus, quis euismod ex volutpat in. vestibulum eleifend eros ac lobortis aliquet.
                                                        suspendisse at ipsum vel lacus vehicula blandit et sollicitudin quam. praesent vulputate semper libero pulvinar consequat. etiam ut placerat lectus.
                                                    </p>
                                                    <a class="btn hvr-hover" href="#">add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-view-box">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                <div class="products-single fix">
                                                    <div class="box-img-hover">
                                                        <div class="type-lb">
                                                            <p class="sale">sale</p>
                                                        </div>
                                                        <img src="images/img-pro-02.jpg" class="img-fluid" alt="image">
                                                        <div class="mask-icon">
                                                            <ul>
                                                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="view"><i class="fas fa-eye"></i></a></li>
                                                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="compare"><i class="fas fa-sync-alt"></i></a></li>
                                                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="add to wishlist"><i class="far fa-heart"></i></a></li>
                                                            </ul>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                                <div class="why-text full-width">
                                                    <h4>lorem ipsum dolor sit amet</h4>
                                                    <h5> <del>$ 60.00</del> $40.79</h5>
                                                    <p>
                                                        integer tincidunt aliquet nibh vitae dictum. in turpis sapien, imperdiet quis magna nec, iaculis ultrices ante. integer vitae suscipit nisi. morbi dignissim risus sit amet orci porta, eget aliquam purus
                                                        sollicitudin. cras eu metus felis. sed arcu arcu, sagittis in blandit eu, imperdiet sit amet eros. donec accumsan nisi purus, quis euismod ex volutpat in. vestibulum eleifend eros ac lobortis aliquet.
                                                        suspendisse at ipsum vel lacus vehicula blandit et sollicitudin quam. praesent vulputate semper libero pulvinar consequat. etiam ut placerat lectus.
                                                    </p>
                                                    <a class="btn hvr-hover" href="#">add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-view-box">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                <div class="products-single fix">
                                                    <div class="box-img-hover">
                                                        <div class="type-lb">
                                                            <p class="sale">sale</p>
                                                        </div>
                                                        <img src="images/img-pro-03.jpg" class="img-fluid" alt="image">
                                                        <div class="mask-icon">
                                                            <ul>
                                                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="view"><i class="fas fa-eye"></i></a></li>
                                                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="compare"><i class="fas fa-sync-alt"></i></a></li>
                                                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="add to wishlist"><i class="far fa-heart"></i></a></li>
                                                            </ul>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                                <div class="why-text full-width">
                                                    <h4>lorem ipsum dolor sit amet</h4>
                                                    <h5> <del>$ 60.00</del> $40.79</h5>
                                                    <p>
                                                        integer tincidunt aliquet nibh vitae dictum. in turpis sapien, imperdiet quis magna nec, iaculis ultrices ante. integer vitae suscipit nisi. morbi dignissim risus sit amet orci porta, eget aliquam purus
                                                        sollicitudin. cras eu metus felis. sed arcu arcu, sagittis in blandit eu, imperdiet sit amet eros. donec accumsan nisi purus, quis euismod ex volutpat in. vestibulum eleifend eros ac lobortis aliquet.
                                                        suspendisse at ipsum vel lacus vehicula blandit et sollicitudin quam. praesent vulputate semper libero pulvinar consequat. etiam ut placerat lectus.
                                                    </p>
                                                    <a class="btn hvr-hover" href="#">add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>